.btn-primary{
    color: #fff !important;
    background-color:  #6ca4e8 !important;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    padding: 8px 15px 8px 15px;
}

.btn-default{
    color: #fff !important;
    background-color:#9d9fa0;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    padding: 8px 15px 8px 15px
}